########################################
# Terraform
########################################
####################
# Directories
####################
**/.terraform/*

####################
# State files
####################
**/*.tfstate
**/*.tfstate.*

####################
# tfvars
####################
**/*.tfvars

########################################
# Python
########################################
####################
# Virtual envs
####################
.env
.venv
env/
venv/
